/src/otherbak/DfMonitor.c
/src/otherbak/DfMonitor.o
/src/otherbak/DfMonitor.vala
/src/otherbak/FileUtility.c
/src/otherbak/FileUtility.o
/src/otherbak/FileUtility.vala
/src/otherbak/Makefile
/src/otherbak/Makefile.am
/src/otherbak/Makefile.in
/src/otherbak/MonitoredDirectory.c
/src/otherbak/MonitoredDirectory.o
/src/otherbak/MonitoredDirectory.vala
/src/otherbak/Rules.c
/src/otherbak/Rules.o
/src/otherbak/Rules.vala
/src/otherbak/TestFileMonitor.c
/src/otherbak/TestFileMonitor.o
/src/otherbak/TestFileMonitor.vala
/src/otherbak/UserData.c
/src/otherbak/UserData.o
/src/otherbak/UserData.vala
/src/otherbak/UserSettingsManager.c
/src/otherbak/UserSettingsManager.o
/src/otherbak/UserSettingsManager.vala
/src/otherbak/Zystem.c
/src/otherbak/Zystem.o
/src/otherbak/Zystem.vala
/src/otherbak/config.vapi
/src/otherbak/dayfolder
/src/otherbak/dayfolder.c
/src/otherbak/dayfolder.o
/src/otherbak/dayfolder.vala
/src/otherbak/dayfolder_vala.stamp
/src/otherbak/src_bak_20120511/.deps/DayFolderClass.Po
/src/otherbak/src_bak_20120511/.deps/DfMonitor.Po
/src/otherbak/src_bak_20120511/.deps/FileUtility.Po
/src/otherbak/src_bak_20120511/.deps/MonitoredDirectory.Po
/src/otherbak/src_bak_20120511/.deps/Rules.Po
/src/otherbak/src_bak_20120511/.deps/TestFileMonitor.Po
/src/otherbak/src_bak_20120511/.deps/UserData.Po
/src/otherbak/src_bak_20120511/.deps/UserSettingsManager.Po
/src/otherbak/src_bak_20120511/.deps/Zystem.Po
/src/otherbak/src_bak_20120511/.deps/dayfolder.Po
/src/otherbak/src_bak_20120511/DayFolderClass.c
/src/otherbak/src_bak_20120511/DayFolderClass.o
/src/otherbak/src_bak_20120511/DayFolderClass.vala
/src/otherbak/src_bak_20120511/DfMonitor.c
/src/otherbak/src_bak_20120511/DfMonitor.o
/src/otherbak/src_bak_20120511/DfMonitor.vala
/src/otherbak/src_bak_20120511/FileUtility.c
/src/otherbak/src_bak_20120511/FileUtility.o
/src/otherbak/src_bak_20120511/FileUtility.vala
/src/otherbak/src_bak_20120511/Makefile
/src/otherbak/src_bak_20120511/Makefile.am
/src/otherbak/src_bak_20120511/Makefile.in
/src/otherbak/src_bak_20120511/MonitoredDirectory.c
/src/otherbak/src_bak_20120511/MonitoredDirectory.o
/src/otherbak/src_bak_20120511/MonitoredDirectory.vala
/src/otherbak/src_bak_20120511/Rules.c
/src/otherbak/src_bak_20120511/Rules.o
/src/otherbak/src_bak_20120511/Rules.vala
/src/otherbak/src_bak_20120511/TestFileMonitor.c
/src/otherbak/src_bak_20120511/TestFileMonitor.o
/src/otherbak/src_bak_20120511/TestFileMonitor.vala
/src/otherbak/src_bak_20120511/UserData.c
/src/otherbak/src_bak_20120511/UserData.o
/src/otherbak/src_bak_20120511/UserData.vala
/src/otherbak/src_bak_20120511/UserSettingsManager.c
/src/otherbak/src_bak_20120511/UserSettingsManager.o
/src/otherbak/src_bak_20120511/UserSettingsManager.vala
/src/otherbak/src_bak_20120511/Zystem.c
/src/otherbak/src_bak_20120511/Zystem.o
/src/otherbak/src_bak_20120511/Zystem.vala
/src/otherbak/src_bak_20120511/config.vapi
/src/otherbak/src_bak_20120511/dayfolder
/src/otherbak/src_bak_20120511/dayfolder.c
/src/otherbak/src_bak_20120511/dayfolder.o
/src/otherbak/src_bak_20120511/dayfolder.vala
/src/otherbak/src_bak_20120511/dayfolder_vala.stamp
/src_bak/.deps/DayFolderClass.Po
/src_bak/.deps/DfMonitor.Po
/src_bak/.deps/FileUtility.Po
/src_bak/.deps/MonitoredDirectory.Po
/src_bak/.deps/Rules.Po
/src_bak/.deps/TestFileMonitor.Po
/src_bak/.deps/UserData.Po
/src_bak/.deps/UserSettingsManager.Po
/src_bak/.deps/Zystem.Po
/src_bak/.deps/dayfolder.Po
/src_bak/DfMonitor.c
/src_bak/DfMonitor.o
/src_bak/DfMonitor.vala
/src_bak/DfMonitor.vala~
/src_bak/FileUtility.c
/src_bak/FileUtility.o
/src_bak/FileUtility.vala
/src_bak/FileUtility.vala~
/src_bak/Makefile
/src_bak/Makefile.am
/src_bak/Makefile.in
/src_bak/MonitoredDirectory.c
/src_bak/MonitoredDirectory.o
/src_bak/MonitoredDirectory.vala
/src_bak/MonitoredDirectory.vala~
/src_bak/Rules.c
/src_bak/Rules.o
/src_bak/Rules.vala
/src_bak/Rules.vala~
/src_bak/TestFileMonitor.c
/src_bak/TestFileMonitor.o
/src_bak/TestFileMonitor.vala
/src_bak/TestFileMonitor.vala~
/src_bak/UserData.c
/src_bak/UserData.o
/src_bak/UserData.vala
/src_bak/UserData.vala~
/src_bak/UserSettingsManager.c
/src_bak/UserSettingsManager.o
/src_bak/UserSettingsManager.vala
/src_bak/UserSettingsManager.vala~
/src_bak/Zystem.c
/src_bak/Zystem.o
/src_bak/Zystem.vala
/src_bak/Zystem.vala~
/src_bak/config.vapi
/src_bak/dayfolder
/src_bak/dayfolder.c
/src_bak/dayfolder.o
/src_bak/dayfolder.vala
/src_bak/dayfolder.vala~
/src_bak/dayfolder_vala.stamp
/src_bak/otherbak/DfMonitor.c
/src_bak/otherbak/DfMonitor.o
/src_bak/otherbak/DfMonitor.vala
/src_bak/otherbak/FileUtility.c
/src_bak/otherbak/FileUtility.o
/src_bak/otherbak/FileUtility.vala
/src_bak/otherbak/Makefile
/src_bak/otherbak/Makefile.am
/src_bak/otherbak/Makefile.in
/src_bak/otherbak/MonitoredDirectory.c
/src_bak/otherbak/MonitoredDirectory.o
/src_bak/otherbak/MonitoredDirectory.vala
/src_bak/otherbak/Rules.c
/src_bak/otherbak/Rules.o
/src_bak/otherbak/Rules.vala
/src_bak/otherbak/TestFileMonitor.c
/src_bak/otherbak/TestFileMonitor.o
/src_bak/otherbak/TestFileMonitor.vala
/src_bak/otherbak/UserData.c
/src_bak/otherbak/UserData.o
/src_bak/otherbak/UserData.vala
/src_bak/otherbak/UserSettingsManager.c
/src_bak/otherbak/UserSettingsManager.o
/src_bak/otherbak/UserSettingsManager.vala
/src_bak/otherbak/Zystem.c
/src_bak/otherbak/Zystem.o
/src_bak/otherbak/Zystem.vala
/src_bak/otherbak/config.vapi
/src_bak/otherbak/dayfolder
/src_bak/otherbak/dayfolder.c
/src_bak/otherbak/dayfolder.o
/src_bak/otherbak/dayfolder.vala
/src_bak/otherbak/dayfolder_vala.stamp
/src_bak/otherbak/src_bak_20120511/.deps/DayFolderClass.Po
/src_bak/otherbak/src_bak_20120511/.deps/DfMonitor.Po
/src_bak/otherbak/src_bak_20120511/.deps/FileUtility.Po
/src_bak/otherbak/src_bak_20120511/.deps/MonitoredDirectory.Po
/src_bak/otherbak/src_bak_20120511/.deps/Rules.Po
/src_bak/otherbak/src_bak_20120511/.deps/TestFileMonitor.Po
/src_bak/otherbak/src_bak_20120511/.deps/UserData.Po
/src_bak/otherbak/src_bak_20120511/.deps/UserSettingsManager.Po
/src_bak/otherbak/src_bak_20120511/.deps/Zystem.Po
/src_bak/otherbak/src_bak_20120511/.deps/dayfolder.Po
/src_bak/otherbak/src_bak_20120511/DayFolderClass.c
/src_bak/otherbak/src_bak_20120511/DayFolderClass.o
/src_bak/otherbak/src_bak_20120511/DayFolderClass.vala
/src_bak/otherbak/src_bak_20120511/DfMonitor.c
/src_bak/otherbak/src_bak_20120511/DfMonitor.o
/src_bak/otherbak/src_bak_20120511/DfMonitor.vala
/src_bak/otherbak/src_bak_20120511/FileUtility.c
/src_bak/otherbak/src_bak_20120511/FileUtility.o
/src_bak/otherbak/src_bak_20120511/FileUtility.vala
/src_bak/otherbak/src_bak_20120511/Makefile
/src_bak/otherbak/src_bak_20120511/Makefile.am
/src_bak/otherbak/src_bak_20120511/Makefile.in
/src_bak/otherbak/src_bak_20120511/MonitoredDirectory.c
/src_bak/otherbak/src_bak_20120511/MonitoredDirectory.o
/src_bak/otherbak/src_bak_20120511/MonitoredDirectory.vala
/src_bak/otherbak/src_bak_20120511/Rules.c
/src_bak/otherbak/src_bak_20120511/Rules.o
/src_bak/otherbak/src_bak_20120511/Rules.vala
/src_bak/otherbak/src_bak_20120511/TestFileMonitor.c
/src_bak/otherbak/src_bak_20120511/TestFileMonitor.o
/src_bak/otherbak/src_bak_20120511/TestFileMonitor.vala
/src_bak/otherbak/src_bak_20120511/UserData.c
/src_bak/otherbak/src_bak_20120511/UserData.o
/src_bak/otherbak/src_bak_20120511/UserData.vala
/src_bak/otherbak/src_bak_20120511/UserSettingsManager.c
/src_bak/otherbak/src_bak_20120511/UserSettingsManager.o
/src_bak/otherbak/src_bak_20120511/UserSettingsManager.vala
/src_bak/otherbak/src_bak_20120511/Zystem.c
/src_bak/otherbak/src_bak_20120511/Zystem.o
/src_bak/otherbak/src_bak_20120511/Zystem.vala
/src_bak/otherbak/src_bak_20120511/config.vapi
/src_bak/otherbak/src_bak_20120511/dayfolder
/src_bak/otherbak/src_bak_20120511/dayfolder.c
/src_bak/otherbak/src_bak_20120511/dayfolder.o
/src_bak/otherbak/src_bak_20120511/dayfolder.vala
/src_bak/otherbak/src_bak_20120511/dayfolder_vala.stamp
/src/Actions.vala~
/src/Criteria.c
/src/Criteria.o
/src/Criteria.vala~
/src/.deps/Actions.Po
/src/.deps/Criteria.Po
/src/.deps/RulesWidget.Po
/src/Actions.c
/src/Actions.o
/src/RulesWidget.c
/src/RulesWidget.o
/src/RulesWidget.vala~
/src/UserData.c
/src/UserData.o
/src/UserData.vala~
/src/UserSettingsManager.c
/src/UserSettingsManager.o
/src/UserSettingsManager.vala~
/src/Zystem.c
/src/Zystem.o
/src/Zystem.vala~
/src/dayfolder
/src/dayfolder.c
/src/dayfolder.o
/src/dayfolder.vala~
/src/DfMonitor.c
/src/DfMonitor.o
/src/DfMonitor.vala~
/src/FileUtility.c
/src/FileUtility.o
/src/FileUtility.vala~
/src/MonitoredDirectory.c
/src/MonitoredDirectory.o
/src/MonitoredDirectory.vala~
/src/Rules.c
/src/Rules.o
/src/Rules.vala~
/src/TestFileMonitor.c
/src/TestFileMonitor.o
/src/TestFileMonitor.vala~
/src/.deps/DayFolderClass.Po
/src/.deps/DfMonitor.Po
/src/.deps/FileUtility.Po
/src/.deps/MonitoredDirectory.Po
/src/.deps/Rules.Po
/src/.deps/TestFileMonitor.Po
/src/.deps/UserData.Po
/src/.deps/UserSettingsManager.Po
/src/.deps/Zystem.Po
/src/.deps/dayfolder.Po
/README.md~
