/src/RulesWidget.c
/src/RulesWidget.o
/src/RulesWidget.vala~
/src/UserData.c
/src/UserData.o
/src/UserData.vala~
/src/UserSettingsManager.c
/src/UserSettingsManager.o
/src/UserSettingsManager.vala~
/src/Zystem.c
/src/Zystem.o
/src/Zystem.vala~
/src/dayfolder
/src/dayfolder.c
/src/dayfolder.o
/src/dayfolder.vala~
/src/DfMonitor.c
/src/DfMonitor.o
/src/DfMonitor.vala~
/src/FileUtility.c
/src/FileUtility.o
/src/FileUtility.vala~
/src/MonitoredDirectory.c
/src/MonitoredDirectory.o
/src/MonitoredDirectory.vala~
/src/Rules.c
/src/Rules.o
/src/Rules.vala~
/src/TestFileMonitor.c
/src/TestFileMonitor.o
/src/TestFileMonitor.vala~
/src/.deps/DayFolderClass.Po
/src/.deps/DfMonitor.Po
/src/.deps/FileUtility.Po
/src/.deps/MonitoredDirectory.Po
/src/.deps/Rules.Po
/src/.deps/TestFileMonitor.Po
/src/.deps/UserData.Po
/src/.deps/UserSettingsManager.Po
/src/.deps/Zystem.Po
/src/.deps/dayfolder.Po
/README.md~
